.review-button {
    background-color: #007BFF; 
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    width: 200px;
    margin: 10px auto;
    border-radius: 5px;
}

.review-box {
    text-align: center;
    margin-top: 10px;
}

.star {
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
}

.hidden {
    display: none;
}